.console-panel-navbar {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.console-switch-button-group {
    display: flex;
    flex-direction: column;
}

.console-switch-button {
    --icon-width: 90%;
    --icon-height: 56px;
    margin: 6px 2px;
    width: var(--icon-width);
    height: var(--icon-height);
    justify-content: center;
    border-radius: 10px;
}

.reviews-select-container {
    display: flex;
    width: 400px;
}

.console-panel-content {
    margin-left: 56px;
    margin-top: 65px;
    min-height: 95vh;
}

/* override default footer style */
.footer-bar-console-container {
    margin-left: 56px;
    width: calc(100% - 56px) !important;
}
