@charset "UTF-8";

:root {
    --data-theme: light;
    --background-color: #dbdfe2;
    --background-color-dimmed: #dddddd;
    --text-color: #000000; /* Light text color */
    --text-color-smooth: #3f3c3c; /* Smooth text color */
    --text-color-dimmed: #666666;
    --primary-color: #1d2a35;
    --secondary-color: #6c757d;
    --navbar-color: #2a2e30;
    --navbar-menu-color: #686d72;
    --navbar-item-color: #3f3c3c;
    --navbar-avatar-border-color: #454545;
    --navbar-text-color: #cabfbf; /* soft text color, including icons */
    --navbar-special-color: #1971bf;
    --footerbar-color: #e8e3e3;
    --footerbar-text-color: #000000;
    --footerbar-text-hover-color: #4d4a56;
    --intro-text-color: #000000;

    --sidebar-header-bg-color: #b2a4a4;
    --sidebar-icon-color: #000000;
    --sidebar-icon-reverse: #ffffff;
    --dark-sidebar-icon: #e8dfdf;
    --sidebar-iconbar-color: #316060;
    --sidebar-list-bg-light: #f3f3f3;
    --sidebar-list-bg-color: #c4c2c2;
    --sidebar-item-bg-color: #c7c6c6;

    --markdown-heading-color: #213e57;
    --markdown-heading-hover: #2073bb;

    --common-card-heading-color: #6e96ec;
    --common-card-outlint-color: #9e7474;

    --Iterator-background-color: #f2f2f2;

    --href-color: #2c25dd;
    --common-card-color: #f2f2f2;
    --home-page-icon-border-color: #f7f708;
    --home-page-avatar-heading-color: #0099ff;
    --home-page-avatar-heading-darker: #0000ff;
    --home-page-tag-color: rgb(145, 188, 252);
    --home-page-tag-color-hover: rgba(63, 101, 224, 0.897);
    --home-page-search-bar-border-color: #c6c7c6;

    --iterator-user-avatar-border-color: var(--common-card-heading-color);
    --iterator-user-name-color: #000000;
    --iterator-hover-bg-color: #f2f2f2;

    --iterator-featured-fill-color: #0099ff;
    --iterator-featured-stroke-color: #0066cc;

    --primary-color: #007bff;
}

/* set in the hook function in the main.js file */
[data-theme='dark'] {
    --data-theme: dark;
    --background-color: #252a33;
    --background-color-dimmed: #333333;
    --text-color: #ffffff;
    --intro-text-color: #ffffff;
    --navbar-color: #222526;
    --text-color: #ffffff;
    --text-color-smooth: #c7c7c7;
    --text-color-dimmed: #514b4b;
    --navbar-menu-color: #191c1d;
    --navbar-avatar-border-color: #2c2c2c;
    --navbar-text-color: #9b9090;
    --navbar-special-color: #155791;
    --footerbar-color: #0a0325;
    --footerbar-text-color: #88898c;
    --footerbar-text-hover-color: #ffffff;

    --sidebar-header-bg-color: #1a202b;
    --sidebar-icon-color: #e9e6e6;
    --dark-sidebar-icon: #999292;

    --sidebar-iconbar-color: #003333;
    --sidebar-list-bg-light: #383e3e;
    --sidebar-list-bg-color: #1d232f;
    --sidebar-item-bg-color: #212836;

    --common-card-heading-color: #362758;
    --common-card-outlint-color: #563d91;

    --Iterator-background-color: #1a1a2a;

    --markdown-heading-color: rgb(202, 197, 197);
    --markdown-heading-hover-color: #1e6fb5;

    --href-color: #abd1fe;
    --common-card-color: #1d232f;
    --home-page-icon-border-color: #4f51c4;
    --home-page-avatar-heading-color: #423f3f;
    --home-page-avatar-heading-darker: #27292e;
    --home-page-tag-color: #3d46ca;
    --home-page-tag-color-hover: rgba(135, 207, 235, 0.908);
    --home-page-search-bar-border-color: #1d232f;

    --iterator-user-avatar-border-color: #c1c1bc;
    --iterator-user-name-color: #ffffff;
    --iterator-hover-bg-color: #433939;

    --iterator-featured-fill-color: #dfe22c;
    --iterator-featured-stroke-color: #83ff36;
    --iterator-featured-text-color: #cd5d18;

    --primary-color: #1976d2;
}

/* dark theme to be added later */

* {
    box-sizing: border-box; /* IE border-box model */
}

a {
    color: var(--href-color);
}

body {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

div:has(> blockquote) {
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
}

blockquote {
    font-style: italic;
}

blockquote + p {
    text-align: right;
}
