/* encoding "UTF-8"; */
@import '@/styles/base.css';

.post-card-brief {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-card {
    width: 750px;
    max-width: 100%;
    border-radius: 5px;
    text-align: center;
}

.post-card-tab-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.post-card-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    opacity: 0.85;
    background-color: var(--common-card-heading-color);
}

.post-card-tabs-window {
    flex-grow: 1;
}

.brief-post-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.brief-post-card-content-list {
    flex-grow: 1;
}

.main-view-workspace-tabs .main-view-workspace-tab {
    height: 100%;
    display: flex;
    align-items: center;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.7s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
