@import '@styles/base.css';

$left-panel-width: calc(min(27%, 380px));
$left-panel-min-width: 300px;
$right-panel-width: 400px;
$max-body-margin-x: 30px;
$min-body-margin-x: 10px;

.home-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    min-height: 85vh;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: var(--background-color-dimmed);
}

.interesting-tag-column {
    display: flex;
    flex-direction: column;
    width: $left-panel-width;
    min-width: $left-panel-min-width;
    height: 100%;
    margin-left: 15px;
    align-items: center;
}

.main-view-right-panel-container {
    width: $right-panel-width;
    min-width: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3px 0px;
    margin-left: 0px; /* remove margin from left */
    margin-right: 10px;
}

/* @media (max-width: 870px) {
    .main-view-right-panel-container {
        display: none;
    }
} */
.main-part-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .main-view-body-zone-container {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        margin-left: $max-body-margin-x;
        margin-right: $max-body-margin-x;
        flex-grow: 1;

        .main-view-body-zone {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.interest-tag-panel-simple {
    display: none;
}

@media (min-width: 1900px) {
    .main-part-wrapper {
        .main-view-body-zone-container {
            margin: 0px calc(30px + (100vw - 1920px) / 2);
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 1560px) {
    .main-part-wrapper {
        .main-view-body-zone-container {
            margin: 0px
                calc(
                    max(
                        #{$max-body-margin-x} - ((1560px - 100vw) / 2),
                        #{$min-body-margin-x}
                    )
                );
        }
    }
}

@media (max-width: 1520px) {
    .interesting-tag-column {
        display: none;
    }
    .main-part-wrapper {
        .interest-tag-panel-simple.medium-width-panel {
            display: block;
        }
    }
}

@media (max-width: 1024px) {
    .main-part-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0px;
        padding-right: 10px;
        > * {
            width: calc(100% - 30px);
            margin: 0px auto;
        }

        .main-view-right-panel-container {
            width: calc(100% - 30px);
        }

        .interest-tag-panel-simple.medium-width-panel {
            display: none;
        }
        .interest-tag-panel-simple.mini-width-panel {
            display: block;
            width: calc(100% - 30px);
            margin: 10px auto;
        }
    }
}
